name: Upload workflow documentation
# This workflow runs the pipeline with the minimal test dataset to check that it completes without any syntax errors
on:
  push:

jobs:
  upload:
    name: Upload Documentation
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@master

    - run: echo ${{ github.ref }}

    - name: Auth gcloud 
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
        project_id: tundra-central

    - name: Set up gcloud
      uses: google-github-actions/setup-gcloud@v0

    - run: gsutil ls gs://bantha-pipelines/${{ github.event.repository.name }}

    - run: echo "${{ github.event }}"