name: Upload workflow documentation

# This workflow runs the pipeline with the minimal test dataset to check that it completes without any syntax errors
on:
  workflow_call:
    inputs:
      upload_path:
        required: true
        type: string

jobs:
  upload:
    name: Upload Documentation
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: workflows    

    steps:

    - uses: actions/checkout@master

    - name: Auth gcloud 
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: ${{ secrets.DEVOPS_GCP_CREDENTIALS }}
        project_id: tundra-central

    - name: Set up gcloud
      uses: google-github-actions/setup-gcloud@v0
    
    - run: echo "uploading to ${{ inputs.upload_path }}"

    - run: gsutil cp citations.md ${{ inputs.upload_path }}/citations.md
    - run: |
        for dir in */; do 
          echo "uploading ${dir}overview.md to ${{ inputs.upload_path }}/${dir}overview.md"
          gsutil cp "${dir}overview.md" "${{ inputs.upload_path }}/${dir}overview.md""

          echo "uploading ${dir}README.md to ${{ inputs.upload_path }}/${dir}readme.md"
          gsutil cp "${dir}README.md" "${{ inputs.upload_path }}/${dir}readme.md"
                    
          echo "uploading ${dir}inputs.md to ${{ inputs.upload_path }}/${dir}inputs.md"
          gsutil cp "${dir}inputs.md" "${{ inputs.upload_path }}/${dir}inputs.md"

          echo "uploading ${dir}outputs.md to ${{ inputs.upload_path }}/${dir}outputs.md"
          gsutil cp "${dir}outputs.md" "${{ inputs.upload_path }}/${dir}outputs.md"
        done
