name: Upload workflow documentation

# This workflow runs the pipeline with the minimal test dataset to check that it completes without any syntax errors
on:
  workflow_call:
    inputs:
      workflow_document_path:
        required: true
        type: string
      public_asset_path:
        required: true
        type: string
      project:
        required: true
        type: string

jobs:
  upload-workflow-docs:
    name: Workflow Documentation
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: workflows    

    steps:

    - uses: actions/checkout@master

    - name: Auth gcloud 
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: ${{ secrets.DEVOPS_GCP_CREDENTIALS }}
        project_id: ${{ inputs.project }}

    - name: Set up gcloud
      uses: google-github-actions/setup-gcloud@v0
    
    - run: echo "uploading documents to ${{ inputs.workflow_document_path }}"

    - run: if [ -f "${d}CITATIONS.md" ]; then gsutil cp CITATIONS.md ${{ inputs.workflow_document_path }}/citations.md; fi
    - run: if [ -f "${d}citations.md" ]; then gsutil cp citations.md ${{ inputs.workflow_document_path }}/citations.md; fi
    - name: "Uploading documents"
      run: |
        for workflow_dir in */; do 
          if [ -f "${workflow_dir}README.md" ];   then gsutil cp "${workflow_dir}README.md"   "${{ inputs.workflow_document_path }}/${workflow_dir}readme.md"; fi
          if [ -f "${workflow_dir}overview.md" ]; then gsutil cp "${workflow_dir}overview.md" "${{ inputs.workflow_document_path }}/${workflow_dir}overview.md"; fi
          if [ -f "${workflow_dir}inputs.md" ];   then gsutil cp "${workflow_dir}inputs.md"   "${{ inputs.workflow_document_path }}/${workflow_dir}inputs.md"; fi
          if [ -f "${workflow_dir}outputs.md" ];  then gsutil cp "${workflow_dir}outputs.md"  "${{ inputs.workflow_document_path }}/${workflow_dir}outputs.md"; fi
        done

    - name: "Uploading public workflow assets"
      run: |
        shopt -s nullglob; for image in *.png; do 
          echo  "uploading ${image} to ${{ inputs.public_asset_path }}/${image}"
          gsutil cp $image "${{ inputs.public_asset_path }}/${image}"
        done 

  upload-repo-docs:
    name: Repo Documentation
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: assets    

    steps:

    - uses: actions/checkout@master

    - name: Auth gcloud 
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: ${{ secrets.DEVOPS_GCP_CREDENTIALS }}
        project_id: ${{ inputs.project }}

    - name: Set up gcloud
      uses: google-github-actions/setup-gcloud@v0
    - name: "Uploading public repo assets"
      run: |
        shopt -s nullglob; for image in *.png; do 
          echo "uploading ${image} to ${{ inputs.public_asset_path }}/assets/${image}"
          gsutil cp $image "${{ inputs.public_asset_path }}/assets/${image}"
        done 
