name: Upload workflow documentation

# This workflow runs the pipeline with the minimal test dataset to check that it completes without any syntax errors
on:
  workflow_call:

env:
  GCS_PATH: gs://bantha-pipelines/${{ github.event.repository.name }}/${{ github.ref_name }}

jobs:
  upload:
    name: Upload Documentation
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: workflows
  
    steps:

    - uses: actions/checkout@master

    - name: Auth gcloud 
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: ${{ secrets.DEVOPS_GCP_CREDENTIALS }}
        project_id: tundra-central

    - name: Set up gcloud
      uses: google-github-actions/setup-gcloud@v0
    
    - run: echo "uploading to ${{ env.GCS_PATH }}"

    - run: gsutil cp citations.md ${{ env.GCS_PATH }}/citations.md
    - run: |
        for d in */; do 
          gsutil cp "${d}overview.md" "${{ env.GCS_PATH }}/${d}overview.md"
          gsutil cp "${d}README.md" "${{ env.GCS_PATH }}/${d}readme.md"
          gsutil cp "${d}inputs.md" "${{ env.GCS_PATH }}/${d}inputs.md"
          gsutil cp "${d}outputs.md" "${{ env.GCS_PATH }}/${d}outputs.md"
        done
